@page "/DummyAdd"

@using AV.AvA.BlazorWasmClient.Services
@using AV.AvA.Model
@using NodaTime
@using NodaTime.Serialization.SystemTextJson
@using NodaTime.Text
@using NodaTime.TimeZones
@using System.Text.Json
@layout AuthedLayout
@inject PersonVersionRepository.PersonVersionRepositoryClient cl;
@inject JsonSerializerOptions opt;

<h3>DummyAdd</h3>
<button @onclick="AddAsync">KABOOOOOM</button>

@code {
    async Task AddAsync()
    {
        var person = new Person
        {
            Debitorennummer = 99099,
            Geburtsdatum = LocalDatePattern.Iso.Parse("2003-02-01").GetValueOrThrow(),
            Geburtsort = "Krankenhausstadt",
            Geschlecht = Geschlecht.Maennlich,
            Vorname = "Spaß",
            PraefixTitel = "Dr.",
            NachnamePraefix = "von",
            SuffixTitel = "PhD",
            Zweitnamen = "Freude",
            Kolonie = "Entenhausen",
            Nachname = "Vogel-Jäger",
            Geburtsname = "Vogel",
            GeburtsnamePraefix = "von",
            Spitznamen = new List<string>
            {
                "Bremse",
            },
            Beziehungen = new List<Beziehung>
            {
                new Beziehung
                {
                    Typ = BeziehungsTyp.Enkel,
                    Vorname = "Ernst",
                    Nachname = "Freude",
                    GueltigVon = new ZonedDateTime(InstantPattern.General.Parse("2005-06-07T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                }
            },
            Ausbildungen = new List<Ausbildung>
            {
                new Ausbildung
                {
                    GueltigVon = new ZonedDateTime(InstantPattern.General.Parse("2009-11-12T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    GueltigBis = new ZonedDateTime(InstantPattern.General.Parse("2010-11-12T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    Name = "Elektrotechnik",
                    Abschluss = "B.Sc."
                },
                new Ausbildung
                {
                    GueltigVon = new ZonedDateTime(InstantPattern.General.Parse("2010-11-12T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    GueltigBis = new ZonedDateTime(InstantPattern.General.Parse("2013-11-12T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    Name = "Maschinenbau",
                    Abschluss = "B.Sc.",
                    AbschlussErreicht = true,
                },
                new Ausbildung
                {
                    GueltigVon = new ZonedDateTime(InstantPattern.General.Parse("2013-11-12T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    GueltigBis = new ZonedDateTime(InstantPattern.General.Parse("2017-11-12T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    Name = "Maschinenbau",
                    Abschluss = "M.Sc.",
                    AbschlussErreicht = true,
                },
            },
            Mobilnummern = new List<Mobilnummer>
            {
                new Mobilnummer
                {
                    Nummer = "+49 1252 222222",
                    Typ = AdressTyp.Primaer
                }
            },
            Messenger = new List<Messenger>
            {
                new Messenger
                {
                    Name = "spassvogel",
                    Typ = MessengerTyp.Skype,
                }
            },
            Arbeitgeber = new List<Arbeitgeber>
            {
                new Arbeitgeber
                {
                    Abteilung = "Spaßabteilung",
                    Position = "Bällebadbeauftragter",
                    Name = "Gesellschaft mit beschränkter Handlung",
                    Adresse = new Adresse
                    {
                        Strasse = "Unlustige Straße 1",
                        Land = "DE",
                        PLZ = "12346",
                        Ort = "Arbeitsstadt",
                        Typ = AdressTyp.Geschaeftlich,
                    }
                }
            },
            Adressen = new List<Adresse>
            {
                new Adresse
                {
                    Flags = new List<AdressFlag>
                    {
                        AdressFlag.Mitteilungsblatt
                    },
                    Land = "DE",
                    Ort = "Weltstadt",
                    PLZ = "12345",
                    Strasse = "Traumstraße 75",
                    Telefon = "+49 12345 7589",
                    Typ = AdressTyp.Eltern,
                    GueltigVon = new ZonedDateTime(InstantPattern.General.Parse("2003-02-01T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                    GueltigBis = new ZonedDateTime(InstantPattern.General.Parse("2020-02-01T00:00:00Z").GetValueOrThrow(), DateTimeZoneProviders.Tzdb["Europe/Berlin"]),
                },
                new Adresse
                {
                    Flags = new List<AdressFlag>
                    {
                        AdressFlag.Veranstaltungseinladung, AdressFlag.Vereinsangelegenheit
                    },
                    Land = "DE",
                    Ort = "Kleinstadt",
                    PLZ = "67890",
                    Strasse = "Gustav Gemütlich Straße 1258A",
                    Telefon = "+49 67890 741584",
                    Typ = AdressTyp.Studien
                }
            },
            Emails = new List<Email>
            {
                new Email
                {
                    Adresse = "spass@vogel.de",
                    Flags = new List<EmailFlag>
                    {
                        EmailFlag.VerteilerAktivitas, EmailFlag.Einladung, EmailFlag.Vereinsangelegenheiten, EmailFlag.Mitteilungsblatt
                    },
                    Typ = EmailTyp.Primaer
                }
            },
        };
        await cl.CreateNewPersonAsync(new()
        {
            CommitMessage = "WHUP DUP DUBIIIDOOO",
            Software = "AVA Migrator -5.3.42",
            Person = JsonSerializer.Serialize(person, opt),
        });
    }
}
